<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

       <div class="img">
           <img src="dff.png" width ="100%">
       </div>
       <div class="cen">
         <h1><b>Pack.Pickup.Track.Deliver.</b></h1>
         We help you to get your Packages delivered to your beloved ones at a reasonable rate
          With fast delivery and precise tracking
          Because we care.
       </div>
       <main>
         <div class="grid">

                 <article class="card product-item">
                     <header class="card__header">
                         <h1 class="product__title1">
                             Packaging
                         </h1>
                     </header>
                     <div class="card__image">
                         <img src="https://asapcourierfl.com/wp-content/uploads/2015/09/boxes-320x240.jpg">
                     </div>

                 </article>
                 <article class="card product-item">
                     <header class="card__header">
                         <h1 class="product__title1">
                            Security
                         </h1>
                     </header>
                     <div class="card__image">
                         <img src="https://i.udemycdn.com/course/240x135/2248672_1037.jpg">
                     </div>

                 </article>
                 <article class="card product-item">
                     <header class="card__header">
                         <h1 class="product__title1">
                             Delivery
                         </h1>
                     </header>
                     <div class="card__image">
                         <img src="https://www.apsfulfillment.com/wp-content/uploads/2017/03/APS_28.jpg">
                     </div>

                 </article>

         </div>

       </main>
       <div class="cen">
         <h1><b>How we work?</b></h1>
       </div>
       <div class="img">
           <img src="pack.jpg" width ="100%">
       </div>

    <%- include('../includes/end.ejs') %>
